{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css">
		<title>Yoni Spivak's Blog</title>
    </head>
    <body>
    <div class="page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
        <h1><a href="/">Yoni Spivak's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

<!--

{% load static %}
<html>
    <head>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
		
		{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
		{% endfor %}
		
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is <strong>BOLD<strong></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post test PLEASE</a></h2>
            <p>no way its my second post take 2</p>
        </div>
		
		<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">BRUH I AM OCNFUSED3X</a></h2>
            <p>YEEEEEEEEEEEEEEEEEE2</p>
        </div>
    </body>
</html>

-->